name: "nix test"
on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  test-matrix:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up nix
        uses: cachix/install-nix-action@v31
      - name: Start cachix
        uses: cachix/cachix-action@v15
        with:
          name: replica
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Test build
        run: nix build
      - name: Run tests
        run: nix flake check --show-trace
